* {
  font-family: 'Helvetica';
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html,
body {
  height: 100%;
  background: rgba(0, 0, 0, 0);
}
p {
  color: #333333;
  font-size: 14px;
}
#App {
  height: 100%;
  background: rgba(0, 0, 0, 0);
  margin: 0;
}
.raised.btn {
  box-shadow: -1px -1px 0px #DFDFDF, 1px 1px 0px #000000, 1px -1px 0px #666666;
  background: #C3C3C3;
  border-top: solid 1px #ffffff;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  border-left: solid 1px #ffffff;
}
.indented {
  box-shadow: -1px -1px 0px #000000, 1px 1px 0px #ffffff;
  background: #C3C3C3;
  border-top: solid 1px #808080;
  border-right: solid 1px #DFDFDF;
  border-bottom: solid 1px #DFDFDF;
  border-left: solid 1px #808080;
}
.window {
  background: #C3C3C3;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.window div {
  display: flex;
}
.header {
  background: #0D0088;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  -webkit-app-region: drag;
}
.content {
  flex-grow: 1;
}
.content .prompt {
  flex-grow: 1;
}
.content .buttons {
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}
.content .buttons .button {
  flex-direction: column;
  align-items: center;
}
.content .buttons .button p {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
.content .buttons .button .btn {
  border-radius: 0;
  font-size: 50px;
  height: 80px;
  width: 80px;
}
.content .icon {
  font-size: 90px;
  line-height: 120px;
}
.content .icon:hover {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
.content h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  line-height: 100px;
  margin: 0;
}
.content .bottom {
  flex-grow: 1;
  align-items: flex-end;
  padding-bottom: 20px;
}
.footer {
  justify-content: flex-end;
  padding: 20px 20px 20px 0;
}
.footer .right {
  flex-grow: 1;
  margin-left: 330px;
}
.footer .btn {
  width: 100px;
}
.divider {
  border-top: solid 2px #ABABAB;
  border-bottom: solid 2px #ffffff;
  margin: 0 10px;
}
.checkbox .sub {
  font-size: 13px;
  margin-left: 20px;
  margin-top: 5px;
}
.checkbox input:before {
  content: '';
  background: #fff;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  font-size: 20px;
  line-height: 9px;
}
.checkbox input:checked:before {
  content: 'x';
}
button.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C3C3C3;
  height: 30px;
}
button.btn.btn {
  box-shadow: -1px -1px 0px #DFDFDF, 1px 1px 0px #000000, 1px -1px 0px #666666;
  background: #C3C3C3;
  border-top: solid 1px #ffffff;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  border-left: solid 1px #ffffff;
}
button.btn:focus {
  box-shadow: -1px -1px 0px #000000, 1px 1px 0px #ffffff;
  background: #C3C3C3;
  border-top: solid 1px #808080;
  border-right: solid 1px #DFDFDF;
  border-bottom: solid 1px #DFDFDF;
  border-left: solid 1px #808080;
}
.icon .btn {
  display: inline-block;
  width: 100%;
  margin: 1px;
  border-radius: 15%;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}
.icon .btn.close {
  border: solid 2px #892808;
  background: radial-gradient(circle, #FF3417 30%, #CC1900 70%);
}
.icon .btn.feedback {
  border: solid 2px #A46D31;
  background: radial-gradient(circle, #F6C977, #F6C977 50%, #F49E00 90%);
}
.icon .btn.feedback i {
  font-size: 18px;
  color: #FBE9C4;
}
.icon .btn i {
  line-height: 24px;
  font-size: 20px;
  transition: 0.2s linear;
}
.icon .btn:hover i {
  transform: scale(1.1);
}
.icon.large {
  width: 60px;
  height: 60px;
}
.icon.large .feedback i {
  font-size: 28px;
  color: #FBE9C4;
  line-height: 50px;
}
.feedback textarea {
  resize: none;
  width: 100%;
  height: 150px;
}
@keyframes aaa {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
